.finder{
    background-image: url(../images/Search.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px;
    border: none;
    background-color: #C4D8D8;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -khtml-border-radius: 20px;
    outline: none;
    height: 40px;
    border-radius: 20px;
    max-width: 210px;
    padding-left: 40px;
    color: #768288;
    text-align: left;
}
.finder:focus{
    background-color: white;
    border: 1px solid #9BACA8;
}