.field{
  background: $form-field-bg-color;
  border-radius: 4px;
  border: 2px solid $form-field-bg-color;
  padding: .5rem;
  font-size: 1.1rem;
  box-sizing: border-box;
  width: 100%;

  &::placeholder{
    color: $placeholder-color;
  }

  &--active, &:focus {
    border-color: $btn-main-color;
    outline: none;
  }
}
.field_rate{
  width: auto;
}
.form{
  &__errors {
    color: $error-text-color;
    > ul {
      list-style: none;
      padding: 0;
    }
  }
}
.field-group{
  display: block;
}
.form-items{
  display: flex!important;
  justify-content: flex-start;
  flex-direction: row;
}
.form__personal-info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.form__rate-project{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}

.form__quation{
  width: 135px;
}
.form__quation_rate{
  width: 160px;
  display: block;
}
.field:focus ~ .field-label{
  color: $main-bg-color;
}
.form__btn-pos{
  position: absolute;
  bottom: -80px;
}
.form__btn-pos_skills{
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 40px;
}
.field-label{
  display: block;
  margin: 10px 0 8px;
}
.form__new-skills{
  margin-bottom: 35px;
}
.action-row{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.thumb {
  height: 75px;
  margin: 10px 5px 0 0;
  object-fit: contain;
  width: 50px;
}
.label-file{
align-items: center;
}
.photo{
width: 136px;
}
.form__quation_photo{
width: 100px;
}