.project{
    width: auto;
    height: 510px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 40px;
}
.project__photo{
    max-height: 410px;
    max-width: 550px;
    width: 43.5%;
}
.project__info{
    height: 100%;
    flex-basis: 1px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0 0 0 65px;
}
.project__name-data{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(56, 70, 77, 0.4);
}
.project__text{
    margin-top: 20px;
    line-height: 28px;
    text-align: left;
}
.project__like{
    position: absolute;
    right: 250px;
    bottom: 50px;
    font-weight: 500;
    float: right;
}
.project__like div{
    width: 20px;
    height: 20px;
    background-image: url("../images/icons.svg");
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: -180px 2px;
    float: right;
}
.project__hide{
    position: absolute;
    right: 50px;
    bottom: 50px;
    font-weight: 500;
}
.project__hide:hover{
    cursor: pointer;
}
.project__hide div{
    width: 20px;
    height: 20px;
    background-image: url("../images/icons.svg");
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: 3px -39px;
    float: right;
}