body{
    font-family: "Roboto";
    background: #E7F0F0;
    font-size: 16px;
}
.main{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 100%;
}
.wrapper-flex{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}