@font-face {
	font-family: "Roboto";
	src: url("../../fonts/Roboto.eot?") format("eot"),
		 url("../../fonts/Roboto.woff2") format("woff2"),
		 url("../../fonts/Roboto.woff") format("woff"),
		 url("../../fonts/Roboto.ttf") format("truetype"),
		 url("../../fonts/Roboto.svg#Roboto") format("svg");
}
@mixin font($size,$weight,$color: #000000){
        font-family: Roboto;
        font-style: normal;
        font-size: $size;
        font-weight: $weight;
        text-align: center;
        color: $color;
    }
.member-card__name{
    @include font(24px,normal);
}

.text{
    letter-spacing: 0.15px;
    @include font(20px,normal,#FFFFFF);
}
.text2{
    letter-spacing: 0.5px;
    @include font(16px,normal, #303C42);
    text-align: left;
}
.member-card__geo > p:first-child{
    @include font(14px,normal);
}
.member-card__cab {
    @include font(16px,normal);
}
.text__name-of-block{
    @include font(18px,normal,#303C42);
    letter-spacing: 0.5px;
}
.text__users-name{
    letter-spacing: 0.15px;
    @include font(20px,normal,#303C42);
}
.text__tags{
    letter-spacing: 0.5px;
    @include font(16px,normal, #303C42);
}
.text__type-of-projects{
    letter-spacing: 0.75px;
    @include font(16px,500, #303C42);
}