nav{
    flex-grow: 2;
    display: flex;
    align-items: center;
}
.nav{
    margin-left: 10px;
    margin-right: 0;
    display: inline-block;
    
}
.nav__item{
    list-style-type: none;
    width: 160px;
    float: left;
}