.profile-menu{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.profile-menu_content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.profile-menu__about{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: white;
}
.profile-menu__photo{
    width: 50px;
    height: 50px;
    background-image: url(../image/avatar.png);
    background-repeat: no-repeat;
    margin: 0 10px;
}
.profile-menu__anim{
    width: 25px;
    height: 50px;
    background-image: url(../image/Shape.png);
    background-repeat: no-repeat;
    background-position: 0 25px;
}
