//.main{
//    width: 94%;
//}
.block{
    width: 100%;
    height: 300px;
    position: relative;
    margin-top: 90px;
    margin-bottom: 80px;
    
}
.article{
    position: relative;
    margin-bottom: 80px;
}
.name-of-block_left{
    position: absolute;
    left: 0;
    top: -40px;
}
.name-of-block_right{
    position: absolute;
    right: 0;
    top: -40px;
}
.add-something{
    position: absolute;
    left: -40px;
    top: -10px;
    width: 30px;
    height: 30px;
    background-image: url('../images/icons.png');
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: -270px -86px;   
}
.add-something:hover{
    transform-origin: 18px 19px;
    -moz-transform: rotate(90deg); /* Для Firefox */
    -ms-transform: rotate(90deg); /* Для IE */
    -webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(90deg); /* Для Opera */
    transform: rotate(90deg);
    transition: transform 0.3s linear;
}
.profile-main_white{
    background-color: white;
}
.profile-main{
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}
.block-for-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 255px;
}
.profile-main__photo{
    width: 205px;
    height: 240px;
}
.profile-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 35px 20px 35px 0;
}
.profile-info__name{
    width: 95%;
    text-align: left;
    height: 35px;
    border-bottom: 1px solid rgba(56, 70, 77, 0.4);
}
.profile-info__more{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.profile-info__edu{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.profile-info__hobby{
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 20px;
}
.profile-info__edu .pofile-info__type{
    padding-top: 3px;
}
.profile-info__hobby .pofile-info__type{
    display: flex;
    align-items: center;
}
.pofile-info__tags{
    padding: 0;
    flex-wrap: wrap;
    display:-moz-box; /* Firefox */
    display:-webkit-box; /* Safari и Chrome */
    display:box;
}
.answer{
    width: 75%;
    text-align: left;
}
.profile-info__edu .answer{
    line-height: 28px;
}
.article_white{
    background-color: white;
}