@font-face {
	font-family: 'Roboto';
	src:
            //url("/static/fonts/Roboto/Roboto-Medium.ttf.eot?#iefix") format('embedded-opentype'),
		 //url("/static/fonts/Roboto.woff2") format("woff2"),
		 //url("/static/fonts/Roboto.woff") format("woff"),
		 url("/static/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
		 //url("/static/fonts/Roboto.svg#Roboto") format("svg");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("/static/fonts/Roboto/Roboto-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@mixin font($size,$weight,$color: #000000){
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-size: $size;
        font-weight: $weight;
        text-align: center;
        color: $color;
    }

.member-card__name{
    @include font(24px,normal);
}

.text{
    letter-spacing: 0.15px;
    @include font(20px,normal,#FFFFFF);
}
.text2{
    letter-spacing: 0.5px;
    @include font(16px,normal, #303C42);
    text-align: left;
}
.member-card__geo > p:first-child{
    @include font(14px,normal);
}
.member-card__cab {
    @include font(16px,normal);
}
.text__name-of-block{
    @include font(18px,normal,#303C42);
    letter-spacing: 0.5px;
}
.text__users-name{
    letter-spacing: 0.15px;
    @include font(20px,normal,#303C42);
}
.text__tags{
    letter-spacing: 0.5px;
    @include font(16px,normal, #303C42);
}
.text__type-of-projects{
    letter-spacing: 0.75px;
    @include font(16px,500, #303C42);
}

h1, .h1{
  font-size: 24px;
}

h2, .h2{
  font-size: 20px;
}

.page-header{
  width: 100%;
  display: block;
  margin: 2rem;
}