nav{
    flex-grow: 2;
    display: flex;
    align-items: center;
}
.nav{
    margin-left: 10px;
    margin-right: 0;
    display: flex;
    width: 100%;
    max-width: 600px;
    justify-content:space-between;
}
.nav__item{
    list-style-type: none;
    max-width: 160px;
}
.nav__item:hover{
    cursor: pointer;
}
.nav__profile-edit{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 0;
    padding-bottom: 10px;
    border-bottom:1px solid rgba(56, 70, 77, 0.4);;
}
.nav__item_profile-edit{
    list-style-type: none;
    max-width: 260px;
    margin-right: 80px;
}
.nav__item_profile-edit{
    position: relative;
}
.nav__item_profile-edit_active::after{
    display: block;
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    background-color: #265F78;
    bottom: -12px;
}