.tegs{
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.teg{
    display: inline-block;
    border: 1px solid #C4D8D8;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin: 0 5px;
    background-color: white;
}
.teg:hover{
    background: #E7F0F0;
    border: 1px solid #C4D8D8;
    box-shadow: 0px 0px 2px #C4D8D8;
    cursor: default;
}
.teg-other{
    background: #C4D8D8;
}
.teg-other:hover{
    background: #E7F0F0;
    border: 1px solid #C4D8D8;
    box-shadow: 0px 0px 2px #C4D8D8;
}
.teg__text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #303C42;
}