.button:hover{
    background: #29BF95;
    box-shadow: 0px 0px 2px #29BF95;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}
.button:hover ~ hr{
    display: none;
}
.button{
    text-transform: uppercase;
    height: 72px;
    line-height: 72px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.button{
    letter-spacing: 0.15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 0.15px;
    text-align: center;
}